<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% if @groups.empty? %>
    <p>No hay grupos agregados.</p>
  <% else %>
    <% @groups.each do |group| %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New group", new_user_group_path(current_user) %>
