<div class="category-content">
  <h2 class="header-content-actions">New Category</h2>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "<<", root_path%>
  <%= link_to "Back to groups", user_groups_path %>
</div>
</div>