/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
 }

 .edit-link, a {
   color: #3778c2;
   text-decoration: none;
  }

 .navbar {
   background-color: #3778c2;
   color: #000;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .navbar-routes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
 }

 body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #e9e9e9aa;
 }

 img {
   width: 5rem;
   height: auto
 }

 button, .button {
    background-color: #3778c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
 }

 .categories-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
 }

 .category-content {
    background-color: #fff;
    color: #7f7f7f;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
 }

 .category-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   width: 100%;
   margin: 0.5rem;
 }

 .header-content {
  background-color: #fff;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

 .newGroup-content, .newTrans-content {
   background-color: #5fb523;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 40%;
   padding: 1rem;
   margin: 0.5rem;
 }

 .newGroup-link, .navbar-link, .newTrans-link {
   color: #fff;
   text-decoration: none;
 }

 .login-content, .category-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #fff;
   align-items: center;
   width: 40%;
   padding: 1rem;
   margin: 0.5rem;
   border-radius: 0.5rem;
 }

 .header-content-actions {
   color: #3778c2;
   background-color: #e9e9e9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 13rem;
   height: 1rem;
   padding: 1rem;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
   margin-bottom: 1rem;
 }

 .amount-content {
   width: 106%;
   border: 1px solid #e9e9e9;
   display: flex;
   justify-content: center;
   color: #7f7f7f;
 }

 .transaction-content {
   margin: 0.75rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.5);
   width: 35rem;
   padding: 0.5rem;
 }